* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  }
  
  body {
    box-sizing: inherit;
    overflow: overlay;
    color: #000000 !important;
    font-weight: 300;
  }

  .chakra-container {
    max-width: 1350px !important;
  }