* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    box-sizing: inherit;
    overflow: overlay;
    color: #000000 !important;
    font-weight: 300;
  }

  .chakra-container {
    max-width: 1350px !important;
  }

  @media only screen and (max-width: 1500px) {
    .chakra-container {
      max-width: 1202px !important;
    }
  }

  @media only screen and (max-width: 1400px) {
    .chakra-container {
      max-width: 980px !important;
    }
  }

  @media only screen and (max-width: 1050px) {
    .chakra-container {
      max-width: 800px !important;
    }
  }

  @media only screen and (max-width: 945px) {
    .chakra-container {
      max-width: 750px !important;
    }
  }

  @media only screen and (max-width: 875px) {
    .chakra-container {
      max-width: 650px !important;
    }
  }

  @media only screen and (max-width: 785px) {
    .chakra-container {
      max-width: 550px !important;
    }
  }

  @media only screen and (max-width: 640px) {
    .chakra-container {
      max-width: 480px !important;
    }
  }

  @media only screen and (max-width: 400px) {
    .chakra-container {
      max-width: 370px !important;
    }
  }